<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Device Details</title>
</head>

<body>
    <div id="deviceDetails" v-cloak>
        <div class="h1 elbowRoom">Device Details
            <span class="badge badge-primary elbowRoom" v-if="deviceId">{{deviceId}}</span>
        </div>
        <div class="h3 elbowRoom">ModelId: {{modelId}}  </div>

        <div v-for="component in components">
            <div class="elbowRoom">
                <div class="alert alert-primary h4" role="alert">{{component.name}} {{component.urn}}</div>

                <table class="table table-striped" :id="component.name">
                    <thead>
                        <tr>
                            <th scope="col" width="140">Type</th>
                            <th scope="col">Name</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in component.items">
                            <td>{{item.type}}</td>
                            <td :title="item.description">{{item.name}} ({{item.schema}})</td>
                            <td :title="item.instanceMD">{{item.instance}}</td>
                            <td>
                                <form class="form-group" action="/api/runCommand" method="POST" onsubmit=""
                                    v-if="item.type === 'Command'">
                                    <input type="hidden" name="deviceId" :value="deviceId" />
                                    <input type="hidden" name="interfaceName" :value="component.name" />
                                    <input type="hidden" name="command" :value="item.name" />
                                    <input type="hidden" name="paramName" :value="item.commandParam.name"
                                        v-if="!!item.commandParam" />
                                    <input type="hidden" name="schema" :value="item.commandParam.schema"
                                        v-if="!!item.commandParam" />
                                    <div class="input-group mb-3" v-if="!!item.commandParam">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="paramInfo">Parameter "{{item.commandParam.name}}" ({{item.commandParam.schema}})</span>
                                        </div>
                                        <textarea name="param" class="form-control" aria-describedby="paramInfo"></textarea>
                                    </div>
                                    <input type="submit" value="Run" class="btn btn-outline-success btn-sm" style="margin-bottom: 15px;" />
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="resultLabel">Result</span>
                                        </div>
                                        <input type="text" name="result" readonly class="form-control"
                                            aria-describedby="resultLabel"></input>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>

              
            </div>
        </div>
    </div>
    <script src="details.js" type="module"" charset="utf-8"></script>
</body>

</html>