body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
#main{text-align: center}
#numDevices{font-size: 65px;font-weight: 600;color:blue;cursor:pointer}
#currentTime{font-size: 24px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color:gray}
ul{text-align: left}
[v-cloak] { display:none; }